@using System.Globalization
@using Humanizer
@using IBS.Models.Enums
@using Microsoft.AspNetCore.Identity
@model CollectionReceipt
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Collection Receipt - Preview";

    var selectedCompany = string.Empty;

    if (SignInManager.IsSignedIn(User))
    {
        selectedCompany = User.Claims.FirstOrDefault(c => c.Type == "Company")?.Value;
    }

    var customerType = Model.SalesInvoice?.CustomerOrderSlip?.CustomerType ?? Model.ServiceInvoice?.Customer?.CustomerType ?? Model.Customer!.CustomerType;
    var customerName = Model.SalesInvoice?.CustomerOrderSlip?.CustomerName ?? Model.ServiceInvoice?.CustomerName ?? Model.Customer!.CustomerName;
    var customerAddress = Model.SalesInvoice?.CustomerOrderSlip?.CustomerAddress ?? Model.ServiceInvoice?.CustomerAddress ?? Model.Customer!.CustomerAddress;
    var customerTin = Model.SalesInvoice?.CustomerOrderSlip?.CustomerTin ?? Model.ServiceInvoice?.CustomerTin ?? Model.Customer!.CustomerTin;
    var customerBusinessStyle = Model.SalesInvoice?.CustomerOrderSlip?.BusinessStyle ?? Model.ServiceInvoice?.Customer!.BusinessStyle ?? Model.Customer!.BusinessStyle;
    var decimalFormat = customerType != nameof(CustomerType.Government) ? SD.Two_Decimal_Format : SD.Four_Decimal_Format;
}

<style>
    @@media print {
        /* Reduce spacing for compact layout */
        .compact-section {
            margin-top: 10px !important;
        }
    }
</style>

<br class="br-top" />
<table class="w-100">
    <tbody>
    <tr>
        <td class="text-end" style="padding: 0 !important;">
            @if (selectedCompany == "Filpride")
            {
                <img src="~/img/Filpride.jpg" width="130px"/>
            }
            else if (selectedCompany == "Bienes")
            {
                <img src="~/img/bienes.jpg" width="130px"/>
            }
        </td>
    </tr>
    <tr style="margin: 0 !important;">
        <td class="text-center" style="padding: 0 !important;">
            @if (selectedCompany == "Filpride")
            {
                <h2 class="company-name" style="margin: 0 0 1px 0;"><u><b>&nbsp;FILPRIDE RESOURCES INC.&nbsp;</b></u></h2>
                <p style="margin: 0; padding: 0; line-height: 1;">
                    57 Westgate Office, Sampson Road, CBD, Subic Bay Freeport Zone,<br />
                    Kalaklan, Olongapo City, 2200 Zambales, Philippines<br />
                    VAT Reg. TIN: 000-216-589-00000
                </p>
            }
            else if (selectedCompany == "Bienes")
            {
                <h2 class="company-name"><u><b>&nbsp;BIENES DE ORO&nbsp;</b></u></h2>
                <p style="line-height: 1; margin-top:-7px;">
                    Tower B Phoenix Sun Business Park Eulogio Rodriguez JR, ave.,<br />
                    Bagumbayan Libis 1110 Quezon City NCR, Second District Philippines<br />
                    VAT Reg. TIN: 776-536-510-00000
                </p>
            }
        </td>
    </tr>
    </tbody>
</table>

<br/>

<table class="table-borderless w-100">
    <tr>
        <td style="width:65%; vertical-align: center;">
            <h3><b>
                COLLECTION RECEIPT
            </b></h3>
        </td>
        <td style="width:35%; vertical-align: top; text-align:right;">
            <h6><b>No.&nbsp;@Html.DisplayFor(model => model.CollectionReceiptNo)</b></h6>
            <h6>
                <span><b>
                    Date:
                </b></span>
                <span class="underline d-inline-block text-center">
                    @Model.TransactionDate.ToString(SD.Date_Format)
                </span>
            </h6>
        </td>
    </tr>
</table>

<div>
    <table class="table-bordered w-100">
        <tbody>
            <tr>
                <td colspan="2" style="padding-left:10px;">
                    Received from: &nbsp;
                    @customerName.ToUpper()
                </td>
            </tr>
            <tr>
                <td colspan="2" class="w-50" style="padding-left:10px;">
                    Address: &nbsp;
                    @customerAddress.ToUpper()
                </td>
            </tr>
            <tr>
                <td style="padding-left:10px;">
                    TIN: &nbsp;
                    @customerTin
                </td>
                <td style="padding-left:10px;">
                    Buss. Style: &nbsp;
                    @customerBusinessStyle?.ToUpper()
                </td>
            </tr>
            @{
                decimal convertToWords = (Model.CashAmount + Model.CheckAmount + Model.ManagersCheckAmount);

                int integerPart = Convert.ToInt32(Math.Floor(convertToWords));
                decimal decimalPart = Math.Round((convertToWords - integerPart), 4);

                // Convert integer part to words
                string integerWords = integerPart.ToWords();
                integerWords = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(integerWords.ToLower());

                // Convert and format cents value
                int cents = Convert.ToInt32(decimalPart * 100) % 100;
                string centsWords = cents.ToWords(); // Use ToWords instead of string formatting
                centsWords = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(centsWords.ToLower());

                string upperCaseOne = integerWords;
                string upperCaseTwo = centsWords;

                // Combine words and formatting
                string words;

                if (cents > 0)
                {
                    // If there is a decimal part, include "And" before it
                    words = $"{upperCaseOne} Pesos and {upperCaseTwo} Centavos Only";
                }
                else
                {
                    // If there is no decimal part, exclude "And"
                    words = $"{upperCaseOne} Pesos Only";
                }

                // Capitalize first letters
                // words = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(words.ToLower());

                words = words.Replace(" And", "");
                words = words.Replace("-", " ");
            }
            <tr>
                <td colspan="2" style="padding-left:10px;">The sum of Pesos:<br /> @words</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td style="padding-left:10px;">(₱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  @((Model.CashAmount + Model.CheckAmount + Model.ManagersCheckAmount).ToString(decimalFormat)))</td>
            </tr>
            <tr>
                <td colspan="2" style="padding-left:10px;">
                    IN FULL/PARTIAL payment of:
                    @if (Model.SalesInvoiceId != null)
                    {
                        @Html.DisplayFor(model => model.SalesInvoice!.SalesInvoiceNo)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.ServiceInvoice!.ServiceInvoiceNo)
                    }
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="padding-left:10px;">Reference Receipt No.&nbsp; @Model.ReferenceNo.ToUpper()</td>
            </tr>
        </tbody>
    </table>
</div>
<div style="margin-top:10px;">
    <table class="table-bordered w-100">
        <tbody>
            <tr>
                <td class="text-center" style="width:33%">INVOICE DATE</td>
                <td class="text-center" style="width:33%">INVOICE #</td>
                <td class="text-center" style="width:33%">AMOUNT</td>
            </tr>
            <tr class="text-center">
                <td style="width:33%">
                    @if (Model.SalesInvoiceId != null)
                    {
                        @Model.SalesInvoice?.TransactionDate.ToString(SD.Date_Format)
                    }
                    else
                    {
                        @Model.ServiceInvoice?.CreatedDate.ToString(SD.Date_Format)
                    }
                </td>
                <td style="width:33%">
                    @if (Model.SalesInvoiceId != null)
                    {
                        @Html.DisplayFor(model => model.SalesInvoice!.SalesInvoiceNo)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.ServiceInvoice!.ServiceInvoiceNo)
                    }
                </td>
                <td style="width:33%">@Model.Total.ToString(decimalFormat)</td>
            </tr>
            <tr>
                <td style="width:33%">&nbsp;</td>
                <td style="width:33%"></td>
                <td style="width:33%"></td>
            </tr>
            <tr>
                <td style="width:33%">&nbsp;</td>
                <td style="width:33%"></td>
                <td style="width:33%"></td>
            </tr>
            <tr>
                <td style="width:33%">&nbsp;</td>
                <td style="width:33%"></td>
                <td style="width:33%"></td>
            </tr>
            <tr>
                <td style="width:33%">&nbsp;</td>
                <td style="width:33%"></td>
                <td style="width:33%"></td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top:10px;">
    <table class="table-bordered w-100">
        <tbody>
            <tr>
                <td colspan="6" style="padding-left:20px;">FORM OF PAYMENT</td>
            </tr>
            <tr>
                <td class="text-center" style="width:25%"></td>
                <td class="text-center" style="width:15%">DATE</td>
                <td class="text-center" style="width:15%">CHK #</td>
                <td class="text-center" style="width:15%">BANK</td>
                <td class="text-center" style="width:15%">BRANCH</td>
                <td class="text-center" style="width:15%">AMOUNT</td>
            </tr>

            <tr>
                <td style="padding-left:20px;">Cash</td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center">
                    @if (Model.CashAmount > 0)
                    {
                        @Model.CashAmount.ToString(decimalFormat)
                    }
                </td>
            </tr>

            <tr>
                <td style="padding-left:20px;">Check</td>
                <td class="text-center">
                    @if (Model.CheckDate != null )
                    {
                        @Model.CheckDate
                    }
                </td>
                <td class="text-center">
                    @if (Model.CheckNo != null)
                    {
                        @Html.DisplayFor(model => model.CheckNo)
                    }
                </td>
                <td class="text-center">
                    @if (Model.CheckBank != null)
                    {
                        @Html.DisplayFor(model => model.CheckBank)
                    }
                </td>
                <td class="text-center">
                    @if (Model.CheckBranch != null)
                    {
                        @Html.DisplayFor(model => model.CheckBranch)
                    }
                </td>
                <td class="text-center">
                    @if (Model.CheckAmount > 0)
                    {
                        @Model.CheckAmount.ToString(decimalFormat)
                    }
                </td>
            </tr>

            <tr>
                <td style="padding-left:20px;">Manager's Check</td>
                <td class="text-center">
                    @if (Model.ManagersCheckDate != null)
                    {
                        @Model.ManagersCheckDate
                    }
                </td>
                <td class="text-center">
                    @if (Model.ManagersCheckNo != null)
                    {
                        @Html.DisplayFor(model => model.ManagersCheckNo)
                    }
                </td>
                <td class="text-center">
                    @if (Model.ManagersCheckBank != null)
                    {
                        @Model.ManagersCheckBank
                    }
                </td>
                <td class="text-center">
                    @if (Model.ManagersCheckBranch != null)
                    {
                        @Html.DisplayFor(model => model.ManagersCheckBranch)
                    }
                </td>
                <td class="text-center">
                    @if (Model.ManagersCheckAmount > 0)
                    {
                        @Model.ManagersCheckAmount.ToString(decimalFormat)
                    }
                </td>
            </tr>

            <tr>
                <td style="padding-left:20px;">EWT</td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center">
                    @if (Model.EWT != 0)
                    {
                        @Model.EWT.ToString(decimalFormat)
                    }
                </td>
            </tr>
            <tr>
                <td style="padding-left:20px;">WVAT</td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center">
                    @if (Model.WVAT != 0)
                    {
                        @Model.WVAT.ToString(decimalFormat)
                    }
                </td>
            </tr>
            <tr>
                <td style="padding-left:20px;">TOTAL</td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center">
                    @if (Model.Total != 0)
                    {
                        @Model.Total.ToString(decimalFormat)
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br>

@if (Model.Type == nameof(DocumentType.Documented) && customerType != nameof(CustomerType.Retail))
{
    <div class="text-center w-100 compact-section" style="margin-top:10px;">
        <em><strong>"THIS DOCUMENT IS NOT VALID FOR CLAIM OF INPUT TAX"</strong></em><br/><br/>
        @if (selectedCompany == "Filpride")
        {
            <p style="font-size: 11px;">
                <span>Acknowledgement Certificate No:</span>
                <span style="display: inline-block; width:150px;"> @CS.ACCN </span>
                <span>&nbsp;&nbsp;Date Issued:</span>
                <span style="display: inline-block; width:50px;"> @CS.DateIssued </span><br/>
                Series: CR0000000001 - CR9999999999
                Date and Time Created:&nbsp;@DateTimeHelper.GetCurrentPhilippineTimeFormatted(Model.CreatedDate)
            </p>
        }
    </div>

    <br />

    if (selectedCompany == "Filpride")
    {
        <div class="text-start w-100 footer compact-section" style="margin-top:30px;">
            <p style="line-height: 1; font-size: 11px;">
                <em>
                    <strong>Software Name :</strong> @CS.AAS
                    <br/>
                    <strong>Version :</strong> @CS.Version
                    <br/>
                    <strong>Printed By :</strong> @UserManager.GetUserName(User)!.ToUpper()
                    <br/>
                    <strong>Date & Time Printed :</strong> @DateTimeHelper.GetCurrentPhilippineTimeFormatted()
                </em>
            </p>
        </div>
    }

    @if (!Model.IsPrinted)
    {
        <div class="text-end">
            ORIGINAL COPY
        </div>
    }
    else
    {
        <div class="text-end">
            REPRINT COPY
        </div>
    }
}

<div class="row pt-2">
    @{
        if (Model.PostedBy == null)
        {
            <div class="col-6 col-md-3">
                <a id="approveButton" class="btn btn-primary form-control buttons" onclick="confirmPost(@Model.CollectionReceiptId)">Post</a>
            </div>
        }
        else
        {
            <div class="col-6 col-md-3">
                <a onclick="confirmPrint(@Model.CollectionReceiptId)" class="btn btn-primary form-control buttons">Print</a>
            </div>
        }
    }

    <div class="col-6 col-md-3">
        @if (Model.SVNo != null)
        {
            <a asp-area="Filpride" asp-controller="CollectionReceipt" asp-action="ServiceInvoiceIndex" class="btn btn-outline-primary border form-control buttons">Back to List</a>
        }
        else
        {
            <a asp-area="Filpride" asp-controller="CollectionReceipt" asp-action="Index" class="btn btn-outline-primary border form-control buttons">Back to List</a>
        }
    </div>
</div>

@section Scripts {
    <script>
        function confirmPost(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Replace with the actual URL that you want to redirect to
                    var url = `@Url.Action("Post", "CollectionReceipt", new { area = "Filpride" })/${id}`;
                    window.location.href = url;
                }
            })
        }
    </script>

    @if (Model.Type == nameof(DocumentType.Documented) && !Model.IsPrinted)
    {
        <script>
            function confirmPrint(id)
            {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "This will mark the document as reprinted and can't be undone.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                }).then((result) =>
                {
                    if (result.isConfirmed)
                    {
                        const afterPrintHandler  = () =>
                        {
                            window.removeEventListener('afterprint', afterPrintHandler);
                            controllerThenPrint(id); // only redirect here
                        };
                        window.addEventListener('afterprint', afterPrintHandler);

                        // Close Swal before printing to avoid blank overlay
                        Swal.close();
                        setTimeout(() => { window.print(); }, 200); // small delay to ensure Swal fully closes before print
                    }
                });
            }
        </script>
    }
    else
    {
        <script>
            function confirmPrint(id)
            {
                const afterPrintHandler = () => {
                    window.removeEventListener('afterprint', afterPrintHandler);
                    controllerThenPrint(id);
                };
                window.addEventListener('afterprint', afterPrintHandler);

                window.print();
            }
        </script>
    }
    <script>
        function controllerThenPrint(id) {
            var url = `@Url.Action("Printed", "CollectionReceipt", new { area = "Filpride" })?id=${id}`;
            window.location.href = url; // only redirect
        }
    </script>
    <script src="~/js/disable-dev-tools-in-print.js" asp-append-version="true"></script>
}
