@using IBS.Models.Enums
@model Customer

@{
    ViewData["Title"] = "Customer - Edit";
}

<link rel="stylesheet" href="~/css/form-style.css">

<div class="loader-container">
    <div class="loader"></div>
    <div class="loader-text">Loading...</div>
</div>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            @Html.AntiForgeryToken()
            <input asp-for="CustomerId" hidden/>
            <div class="border p-3">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="CustomerCode" />
                <div class="form-group mb-3">
                    <label class="control-label">Type<span class="required">*</span></label>
                    <select asp-for="Type" class="form-select js-select2 border-0 shadow" style="width:100%; max-height: 200px;">
                        @foreach (var customerDocumentType in Enum.GetValues<DocumentType>())
                        {
                            <option value="@customerDocumentType">@customerDocumentType.ToString()</option>
                        }
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="CustomerName" class="form-control border-0 shadow " placeholder=""/>
                    <label asp-for="CustomerName" class="ms-2"></label>
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="CustomerAddress" class="form-control border-0 shadow " placeholder=""/>
                    <label asp-for="CustomerAddress" class="ms-2"></label>
                    <span asp-validation-for="CustomerAddress" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ZipCode" class="form-control border-0 shadow " placeholder="" maxlength="4"/>
                    <label asp-for="ZipCode" class="ms-2"></label>
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="CustomerTin" class="form-control border-0 shadow formattedTinNumberInput" placeholder="" maxlength="17"/>
                    <label asp-for="CustomerTin" class="ms-2"></label>
                    <span asp-validation-for="CustomerTin" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="CreditLimit" class="form-control border-0 shadow" value="@Model.CreditLimit" placeholder=""/>
                    <label asp-for="CreditLimit" class="ms-2">Credit Limit</label>
                    <span asp-validation-for="CreditLimit" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="CreditLimitAsOfToday" class="form-control border-0 shadow" value="@Model.CreditLimitAsOfToday" placeholder=""/>
                    <label asp-for="CreditLimitAsOfToday" class="ms-2">Available Credit Limit As of Today<span class="required">*</span></label>
                    <span asp-validation-for="CreditLimitAsOfToday" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="BusinessStyle" class="form-control border-0 shadow " placeholder=""/>
                    <label asp-for="BusinessStyle" class="ms-2"></label>
                    <span asp-validation-for="BusinessStyle" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label class="control-label">Customer Terms</label><span class="required">*</span>
                    <select asp-for="CustomerTerms" asp-items="@Model.PaymentTerms" class="form-select js-select2" style="width:100%">
                        <option></option>
                    </select>
                    <span asp-validation-for="CustomerTerms" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label class="control-label">Retention Rate</label>
                    <select asp-for="RetentionRate" class="form-select js-select2" style="width: 100%">
                        <option value="" selected disabled>%</option>
                        <option value="0.0000">0%</option>
                        <option value="0.0100">1%</option>
                        <option value="0.0200">2%</option>
                        <option value="0.0500">5%</option>
                        <option value="0.1000">10%</option>
                    </select>
                    <span asp-validation-for="RetentionRate" class="text-danger"></span>
                </div>

                <div class="form-group py-2 col-12">
                    <label class="control-label">Vat Type</label>
                    <select asp-for="VatType" class="form-select js-select2 border-0 shadow" style="width:100%; max-height: 200px;">
                        <option value="" selected disabled>Select vat type</option>
                        <option value="@SD.VatType_Vatable">@SD.VatType_Vatable</option>
                        <option value="@SD.VatType_ZeroRated">@SD.VatType_ZeroRated</option>
                        <option value="@SD.VatType_Exempt">@SD.VatType_Exempt</option>
                    </select>
                    <span asp-validation-for="VatType" class="text-danger"></span>
                </div>
                <div class="form-check pt-2">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="WithHoldingVat"/> @Html.DisplayNameFor(model => model.WithHoldingVat)
                    </label>
                </div>
                <div class="form-check pb-2">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="WithHoldingTax"/> @Html.DisplayNameFor(model => model.WithHoldingTax)
                    </label>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="Admin" asp-controller="Customer" asp-action="Index" class="btn btn-outline-primary border  form-control ">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            function toggleStationDiv() {
                var selectedCompany = $('select[name="CustomerType"]').val();
                var stationDiv = $('#station-div');

                if (selectedCompany === 'Retail') {
                    stationDiv.show();
                } else {
                    stationDiv.hide();
                }
            }

            // Attach the change event listener
            $('select[name="CustomerType"]').on('change', toggleStationDiv);

            // Initial check on page load
            toggleStationDiv();
        });
    </script>
}
