@using IBS.Models
@using IBS.Utility.Constants
@using Microsoft.AspNetCore.Identity
@model FilprideAuthorityToLoad
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Authority To Load - Preview";
    var purchaseOrders = ViewData["PurchaseOrders"] as List<FilprideCOSAppointedSupplier>;
        
    var selectedCompany = string.Empty;

    if (SignInManager.IsSignedIn(User))
    {
        selectedCompany = User.Claims.FirstOrDefault(c => c.Type == "Company")?.Value;
    }

}

<style>
    @@media print {
        /* Reduce spacing for compact layout */
        .compact-section {
            margin-top: 10px !important;
        }
    }
</style>

<br class="br-top" />
<table class="w-100 mb-2">
    <tbody>
    <tr>
        <td class="text-end" style="padding: 0 !important;">
            <img src="~/img/Filpride.jpg" width="130px"/>
        </td>
    </tr>
    <tr style="margin: 0 !important;">
        <td class="text-center" style="padding: 0 !important;">
            <h2 class="company-name" style="margin: 0 0 1px 0;"><u><b>&nbsp;FILPRIDE RESOURCES INC.&nbsp;</b></u></h2>
            <p style="margin: 0; padding: 0; line-height: 1;">
                57 Westgate Office, Sampson Road, CBD, Subic Bay Freeport Zone,<br />
                Kalaklan, Olongapo City, 2200 Zambales, Philippines<br />
                VAT Reg. TIN: 000-216-589-00000
            </p>
        </td>
    </tr>
    <tr>
        <td class="text-center" style="padding-top: 10px !important;"><h3 class="module-name"><b>AUTHORITY TO LOAD</b></h3></td>
    </tr>
    </tbody>
</table>

<div class="container mt-4">
    <div class="table-responsive">
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td><b>Supplier:</b> @(Model.Supplier!.SupplierName.ToUpper())</td>
                <td class="text-end"><b>Freight:</b> @Model.Freight.ToString(SD.Four_Decimal_Format)</td>
            </tr>
            <tr>
                <td><b>Date Booked:</b> @Model.DateBooked.ToString(SD.Date_Format)</td>
                <td class="text-end"><b>Load Port:</b> @Model.Depot</td>
            </tr>
            <tr>
                <td><b>Valid Until:</b> @Html.DisplayFor(model => model.ValidUntil)</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="7" class="text-center table-secondary">Filpride's ATL#: @Model.AuthorityToLoadNo</th>
            </tr>
            @if (Model.UppiAtlNo != null)
            {
                <tr>
                    <th colspan="7" class="text-center table-secondary">Supplier's ATL#: @Model.UppiAtlNo.ToUpper()</th>
                </tr>
            }
            <tr>
                <th>COS#</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Volume</th>
                <th>Supplier SO#</th>
                <th>Filpride PO#</th>
                <th>Customer PO#</th>
            </tr>
            </thead>
            <tbody>
                
            @foreach (var cos in Model.Details
                          .OrderBy(d => d.CustomerOrderSlip!.CustomerId)
                          .ThenBy(d => d.CustomerOrderSlipId))
            {
                <tr>
                    <td>
                        @cos.CustomerOrderSlip!.CustomerOrderSlipNo
                    </td>
                    <td>
                        @cos.CustomerOrderSlip!.Customer!.CustomerName.ToUpper()
                    </td>
                    <td>
                        @cos.CustomerOrderSlip!.Product!.ProductName
                    </td>
                    <td>
                        @cos.Quantity.ToString(SD.Two_Decimal_Format)
                    </td>
                    <td>
                        @string.Join(", ", cos.CustomerOrderSlip!.AppointedSuppliers!
                            .Where(a => a.SequenceId == cos.AppointedId)
                            .Select(a => a.PurchaseOrder!.SupplierSalesOrderNo))
                    </td>
                    <td>
                        @string.Join(", ", cos.CustomerOrderSlip!.AppointedSuppliers!
                            .Where(a => a.SequenceId == cos.AppointedId)
                            .Select(x => x.PurchaseOrder!.PurchaseOrderNo))
                    </td>
                    <td>
                        @cos.CustomerOrderSlip.CustomerPoNo.ToUpper()
                    </td>
                </tr>
            }
                
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td><b>Hauler:</b> @Model.HaulerName?.ToUpper()</td>
            </tr>
            <tr>
                <td><b>Driver:</b> @Model.Driver?.ToUpper()</td>
            </tr>
            <tr>
                <td><b>Plate #:</b> @Model.PlateNo?.ToUpper()</td>
            </tr>
            <tr>
                <td class="mt-5"><b>Remarks:</b><pre>@Model.Remarks.ToUpper()</pre></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row mt-5">    
        <div class="col text-center">
            <p style="font-size: 14px;"><b>Prepared by:</b></p>
            <br />
            <p style="margin-bottom: 5px !important;">_____________________________</p>
            <p style="font-size: 14px;"><b>@Model.CreatedBy.ToUpper()</b></p>
        </div>

        <div class="col text-center">
            <p style="font-size: 14px;"><b>Noted by:</b></p>
            <br />
            <p>_____________________________</p>
        </div>

        <div class="col text-center">
            <p style="font-size: 14px;"><b>Received by:</b></p>
            <br />
            <p>_____________________________</p>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-6 col-md-3">
            <a onclick="confirmPrint(@Model.AuthorityToLoadId)" class="btn btn-primary form-control buttons">Print</a>
        </div>

        <div class="col-6 col-md-3">
            <a asp-area="Filpride" asp-controller="AuthorityToLoad" asp-action="Index" class="btn btn-outline-primary border form-control buttons">Back to List</a>
        </div>
    </div>
    <script src="~/js/disable-dev-tools-in-print.js" asp-append-version="true"></script>
</div>

@section Scripts{
    <script>
        function confirmPrint(id)
        {
            const afterPrintHandler = () => {
                window.removeEventListener('afterprint', afterPrintHandler);
                controllerThenPrint(id);
            };

            window.addEventListener('afterprint', afterPrintHandler);
            window.print();
        }
        
        function controllerThenPrint(id) {
            var url = `@Url.Action("Printed", "AuthorityToLoad", new { area = "Filpride" })/${id}`;
            window.location.href = url;
        }
    </script>
}