@using IBS.Models
@using IBS.Models.Enums
@using IBS.Utility.Constants
@using IBS.Utility.Helpers
@using Microsoft.AspNetCore.Identity
@model JournalVoucherVM
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Journal Voucher - Preview";
    var totalDebit = 0m;
    var totalCredit = 0m;

    var selectedCompany = string.Empty;

    if (SignInManager.IsSignedIn(User))
    {
        selectedCompany = User.Claims.FirstOrDefault(c => c.Type == "Company")?.Value;
    }

    var jvType = Model.Header!.JvType;

    var isApprover =
        User.IsInRole("Admin") ||
        (User.IsInRole("AccountingManager") && jvType == nameof(JvType.Liquidation)) ||
        User.IsInRole("ManagementAccountingManager");
}

<style>
    @@media print {
        /* Reduce spacing for compact layout */
        .compact-section {
            margin-top: 10px !important;
        }
    }
</style>

<br class="br-top" />
<table class="w-100 mb-2">
    <tbody>
    <tr>
        <td class="text-end" style="padding: 0 !important;">
                <img src="~/img/Filpride.jpg" width="130px"/>
        </td>
    </tr>
    <tr style="margin: 0 !important;">
        <td class="text-center" style="padding: 0 !important;">
            <h2 class="company-name" style="margin: 0 0 1px 0;"><u><b>&nbsp;FILPRIDE RESOURCES INC.&nbsp;</b></u></h2>
            <p style="margin: 0; padding: 0; line-height: 1;">
                57 Westgate Office, Sampson Road, CBD, Subic Bay Freeport Zone,<br />
                Kalaklan, Olongapo City, 2200 Zambales, Philippines<br />
                VAT Reg. TIN: 000-216-589-00000
            </p>
        </td>
    </tr>
    <tr>
        <td class="text-end" style="padding-top: 10px !important;">
            <h6 class="series">
                <b>
                    No.&nbsp;@Html.DisplayFor(model => model.Header!.JournalVoucherHeaderNo)
                </b>
            </h6>
        </td>
    </tr>
    <tr>
        <td class="text-center" style="padding-top: 0 !important;">
            <h3 class="module-name">
                <b>
                    JOURNAL VOUCHER
                </b>
            </h3>
        </td>
    </tr>
    </tbody>
</table>

<div class="table-responsive" style="margin-top:50px;">
    <table class="w-100">
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="w-25 text-end"><div>Date : @Model.Header!.Date.ToString(SD.Date_Format)</div></td>
            </tr>
            <tr>
                <td><div>CATEGORY :</div></td>
                <td><div>@Model.Header!.CheckVoucherHeader?.Category.ToUpper()</div></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>REFERENCES</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><div>CV # :</div></td>
                <td><div>@Model.Header!.CheckVoucherHeader?.CheckVoucherHeaderNo</div></td>
                <td><div>CR # :</div> </td>
                <td><div>@Model.Header!.CRNo?.ToUpper()</div></td>
            </tr>
            <tr>
                <td><div>CHECK # :</div></td>
                <td><div>@Model.Header!.CheckVoucherHeader?.CheckNo</div></td>
                <td><div>AMOUNT :</div></td>
                <td><div>@Model.Header.CheckVoucherHeader?.Total.ToString(SD.Two_Decimal_Format)</div></td>
            </tr>
            <tr>
                <td><div>CV DATE :</div></td>
                <td><div>@Model.Header.CheckVoucherHeader?.Date.ToString(SD.Date_Format)</div></td>
                <td><div>DATE :</div></td>
                <td><div>@Model.Header.CheckVoucherHeader?.CheckDate?.ToString(SD.Date_Format)</div></td>
            </tr>
            <tr>
                <td><div>PAYEE :</div></td>
                <td><div>@Model.Header!.CheckVoucherHeader?.Payee?.ToUpper()</div></td>
                <td><div>JV Reason :</div></td>
                <td><div>@Model.Header!.JVReason.ToUpper()</div></td>
            </tr>
            <tr>
                <td><div class="pt-2 text-nowrap">PARTICULARS :</div></td>
                <td colspan="3" class="pt-2"><div>@Model.Header!.Particulars.ToUpper()</div></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive" style="margin-top:20px;">
    <table class="w-100">
        <thead>
            <tr style="border: 1px solid black;">
                <th colspan="4" style="padding-left:20px;">ACCOUNTING ENTRIES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding-left:20px;"><i>Account Name/Title</i></td>
                <th class="text-end">DEBIT</th>
                <th class="text-end">CREDIT</th>
            </tr>
            @foreach (var jvd in Model.Details!)
            {
                <tr>
                    <td style="width:60%; padding-left:20px;">
                        @($"{jvd.AccountNo} {jvd.AccountName}" + (jvd.SubAccountName != null ? $" ({jvd.SubAccountName})" : string.Empty))
                    </td>
                    <td class="text-end" style="width:7%;">@jvd.Debit.ToString(SD.Two_Decimal_Format)</td>
                    <td class="text-end" style="width:7%;">@jvd.Credit.ToString(SD.Two_Decimal_Format)</td>
                </tr>
                totalDebit += jvd.Debit;
                totalCredit += jvd.Credit;
            }
            <tr style="border-bottom:double;"></tr>
            <tr>
                <th class="text-end">TOTAL</th>
                <th class="text-end">@totalDebit.ToString(SD.Two_Decimal_Format)</th>
                <th class="text-end">@totalCredit.ToString(SD.Two_Decimal_Format)</th>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive" style="margin-top:20px;">
    <table class="w-100">
        <tbody class="text-center">
            <tr>
                <td>Prepared by :</td>
                <td>Reviewed by </td>
                <td>Approved by </td>
            </tr>
            <tr>
                <td style="width:33%;">
                    <br />
                    <span class="underline" style="display: inline-block; width:60%;">@Model.Header.CreatedBy!.ToUpper()</span> <br />
                </td>
                <td style="width:33%;">
                    <br />
                    <span class="underline" style="display: inline-block; width:60%;">&nbsp;</span> <br />
                </td>
                <td style="width:33%;">
                    <br />
                    <span class="underline" style="display: inline-block; width:60%;">&nbsp;</span> <br />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br />

@if (Model.Header.Type == nameof(DocumentType.Documented))
{
    <div class="text-center w-100 compact-section" style="margin-top:20px;">
        <em><strong>"THIS DOCUMENT IS NOT VALID FOR CLAIM OF INPUT TAX"</strong></em><br/><br/>
        @if (selectedCompany == "Filpride")
        {
            <p style="font-size: 11px;">
                <span>Acknowledgement Certificate No:</span>
                <span style="display: inline-block; width:150px;"> @CS.ACCN </span>
                <span>&nbsp;&nbsp;Date Issued:</span>
                <span style="display: inline-block; width:50px;"> @CS.DateIssued </span><br/>
                Series: JV0000000001 - JV9999999999
                Date and Time Created:&nbsp; @DateTimeHelper.GetCurrentPhilippineTimeFormatted(Model.Header.CreatedDate)
            </p>
        }
    </div>
    <br/>

    if (selectedCompany == "Filpride")
    {
        <div class="text-start w-100 footer compact-section" style="margin-top:30px;">
            <p style="line-height: 1; font-size: 11px;">
                <em>
                    <strong>Software Name :</strong> @CS.AAS
                    <br/>
                    <strong>Version :</strong> @CS.Version
                    <br/>
                    <strong>Printed By :</strong> @UserManager.GetUserName(User)!.ToUpper()
                    <br/>
                    <strong>Date & Time Printed :</strong> @DateTimeHelper.GetCurrentPhilippineTimeFormatted()
                </em>
            </p>
        </div>
    }

    if (!Model.Header.IsPrinted)
    {
        <div class="text-end">
            ORIGINAL COPY
        </div>
    }
    else
    {
        <div class="text-end">
            REPRINT COPY
        </div>
    }
}
<div class="row pt-2">
    @{
        if (Model.Header.Status == nameof(JvStatus.ForApproval))
        {
            if (isApprover)
            {
                <div class="col-6 col-md-3">
                    <a class="btn btn-success form-control buttons" onclick="confirmApprove(@Model.Header.JournalVoucherHeaderId)">Approve</a>
                </div>
            }
        }
        else if (Model.Header.Status == nameof(JvStatus.Pending))
        {
            <div class="col-6 col-md-3">
                <a id="approveButton" class="btn btn-primary form-control buttons" onclick="confirmPost(@Model.Header.JournalVoucherHeaderId)">Post</a>
            </div>
        }
        else
        {
            <div class="col-6 col-md-3">
                <a onclick="confirmPrint(@Model.Header.JournalVoucherHeaderId)" class="btn btn-primary form-control buttons">Print</a>
            </div>
            <div class="col-6 col-md-3">
                <a class="btn btn-secondary form-control buttons" onclick="confirmUnpost(@Model.Header.JournalVoucherHeaderId)">Unpost</a>
            </div>
        }
    }

    <div class="col-6 col-md-3">
        <a asp-area="Filpride" asp-controller="JournalVoucher" asp-action="Index" asp-route-filterType="@ViewBag.FilterType" class="btn btn-outline-primary border form-control buttons">Back to List</a>
    </div>
</div>

@section Scripts {
    <script>
        function confirmPost(id) {
            let jvType = "@jvType";
            let isAmortization = "@Model.IsAmortization";
            let message = "You won't be able to revert this!";

            if (jvType === "@JvType.Accrual") {
                message = "This journal voucher will be automatically reversed in the following month. " + message;
            }

            if (jvType === "@JvType.Amortization" && isAmortization.toLowerCase() === "true") {
                message = "This journal voucher will generate amortization schedules. " + message;
            }

            Swal.fire({
                title: 'Are you sure?',
                text: message,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Post'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = `@Url.Action("Post", "JournalVoucher", new { area = "Filpride" })/${id}`;
                    window.location.href = url;
                }
            })
        }

        function confirmUnpost(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "This will revert its status to Pending",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = `@Url.Action("Unpost", "JournalVoucher", new { area = "Filpride" })/${id}`;
                    window.location.href = url;
                }
            })
        }

        function confirmApprove(id) {
            Swal.fire({
                title: 'Approve this record?',
                text: "This will mark the journal voucher as Pending.",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Approve'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = `@Url.Action("Approve", "JournalVoucher", new { area = "Filpride" })/${id}`;
                    window.location.href = url;
                }
            })
        }
    </script>
    @if (!Model.Header.IsPrinted)
    {
        <script>
            function confirmPrint(id)
            {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "This will mark the document as reprinted and can't be undone.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                }).then((result) =>
                {
                    if (result.isConfirmed)
                    {
                        const afterPrintHandler  = () =>
                        {
                            window.removeEventListener('afterprint', afterPrintHandler);
                            controllerThenPrint(id);
                        };

                        window.addEventListener('afterprint', afterPrintHandler);
                        Swal.close();
                        setTimeout(() => { window.print(); }, 200);
                    }
                });
            }
        </script>
    }
    else
    {
        <script>
            function confirmPrint(id)
            {
                const afterPrintHandler = () => {
                    window.removeEventListener('afterprint', afterPrintHandler);
                    controllerThenPrint(id);
                };

                window.addEventListener('afterprint', afterPrintHandler);
                window.print();
            }
        </script>
    }
    <script>
        function controllerThenPrint(id) {
            var url = `@Url.Action("Printed", "JournalVoucher", new { area = "Filpride" })/${id}`;
            window.location.href = url;
        }
    </script>

    <script src="~/js/disable-dev-tools-in-print.js" asp-append-version="true"></script>
}
