@model PickUpPoint

@{
    ViewData["Title"] = "Pickup Point - Edit";
}

<link rel="stylesheet" href="~/css/form-style.css">

<div class="loader-container">
    <div class="loader"></div>
    <div class="loader-text">Loading...</div>
</div>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            @Html.AntiForgeryToken()
            <div class="border p-3">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Company" value="@Model.Company"/>
                <input type="hidden" asp-for="PickUpPointId" value="@Model.PickUpPointId"/>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Depot" class="form-control border-0 shadow " placeholder=""/>
                    <label asp-for="Depot" class="ms-2">Depot Name<span class="required">*</span></label>
                    <span asp-validation-for="Depot" class="text-danger"></span>
                </div>
                <div class="form-group py-2 col-12">
                    <label class="control-label">Select Supplier<span class="required">*</span></label>
                    <select asp-for="SupplierId" asp-items="@Model.Suppliers" class="form-select js-select2 border-0 shadow" style="width:100%; max-height: 200px;">
                        <option value="" selected disabled>Select supplier</option>
                    </select>
                    <span asp-validation-for="SupplierId" class="text-danger"></span>
                </div>
                <label class="control-label">Please select where the record will be added:</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsFilpride" /> FILPRIDE
                    </label>
                </div>
                <div class="form-check pb-2">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsBienes" /> BIENES
                    </label>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Save</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="Filpride" asp-controller="PickupPoint" asp-action="Index" class="btn btn-outline-primary border  form-control ">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
