@using IBS.Models.Enums
@using IBS.Utility.Constants
@model PurchaseOrderViewModel

@{
    ViewData["Title"] = "Purchase Order - Create";
    DateTime today = DateTimeHelper.GetCurrentPhilippineTime();
}

<link rel="stylesheet" href="~/css/form-style.css">

<div class="loader-container">
    <div class="loader"></div>
    <div class="loader-text">Loading...</div>
</div>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label class="control-label">Type<span class="required">*</span></label>
                <select asp-for="Type" class="form-select js-select2 border-0 shadow" style="width:100%; max-height: 200px;" required>
                    <option value="" selected disabled>Select PO type</option>
                    @foreach (var documentType in Enum.GetValues<DocumentType>())
                    {
                        <option value="@documentType">@documentType.ToString()</option>
                    }
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <input asp-for="Date" type="date" class="form-control border-0 shadow"
                       placeholder=""
                       value="@today.ToString("yyyy-MM-dd")"/>
                <label asp-for="Date">Date<span class="required">*</span></label>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <input asp-for="TriggerDate" type="date" class="form-control border-0 shadow"
                       placeholder=""
                       value="@today.ToString("yyyy-MM-dd")"/>
                <label asp-for="TriggerDate">Trigger Date<span class="required">*</span></label>
                <span asp-validation-for="TriggerDate" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Type of Purchase<span class="required">*</span></label>
                <select asp-for="TypeOfPurchase" class="form-select js-select2 border-0 shadow" style="width:100%; max-height: 200px;">
                    <option value="" selected disabled>Select type of purchase</option>
                    @foreach (var purchaseType in Enum.GetValues<PurchaseTypeEnum>())
                    {
                        <option value="@purchaseType">@purchaseType.ToString().ToUpper()</option>
                    }
                </select>
                <span asp-validation-for="TypeOfPurchase" class="text-danger"></span>
            </div>

            <div class="form-group py-2 col-12">
                <label class="control-label">Supplier List<span class="required">*</span></label>
                <select asp-for="SupplierId" asp-items="@Model.Suppliers" class="form-select js-select2 border-0 shadow" style="width:100%">
                    <option value="" selected>Select supplier</option>
                </select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>

            <div class="form-group py-2 col-12">
                <label class="control-label">Port List<span class="required">*</span></label>
                <select asp-for="PickUpPointId" asp-items="@Model.PickUpPoints" class="form-select js-select2 border-0 shadow" style="width:100%">
                    <option value="" selected>Select port</option>
                </select>
                <span asp-validation-for="PickUpPointId" class="text-danger"></span>
            </div>

            <div class="form-group py-2 col-12">
                <label class="control-label">Product List<span class="required">*</span></label>
                <select asp-for="ProductId" asp-items="@Model.Products" class="form-select js-select2 border-0 shadow" style="width:100%">
                    <option value="" selected>Select product</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Terms" class="control-label"></label><span class="required">*</span>
                <select asp-for="Terms" asp-items="@Model.PaymentTerms" class="form-select js-select2" style="width:100%">
                    <option></option>
                </select>
                <span asp-validation-for="Terms" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <input asp-for="Quantity" class="form-control border-0 shadow quantity" placeholder="" required min="0.01" />
                <label asp-for="Quantity">Quantity<span class="required">*</span></label>
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Price" class="form-control border-0 shadow price" placeholder="" required min="0.01" />
                <label asp-for="Price">Price<span class="required">*</span></label>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Total</label>
                <input class="form-control total" value="" placeholder="0.00" required disabled readonly />
            </div>

            <div class="form-floating py-2 col-12">
                <input asp-for="SupplierSalesOrderNo" class="form-control border-0 shadow price" placeholder="" />
                <label asp-for="SupplierSalesOrderNo">Supplier SO#</label>
                <span asp-validation-for="SupplierSalesOrderNo" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <textarea asp-for="Remarks" class="form-control border-0 shadow" placeholder="Indicate the reason of this changes." style="height: 100px"></textarea>
                <label asp-for="Remarks" class="control-label">Remarks<span class="required">*</span></label>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>

            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-area="Filpride" asp-controller="PurchaseOrder" asp-action="Index" asp-route-filterType="@ViewBag.FilterType" class="btn btn-outline-primary border  form-control ">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            function updateTotal() {
                var quantity = parseNumber($(".quantity").val());
                var price = parseNumber($(".price").val());
                var total = quantity * price;
                $(".total").val(formatNumber(total));
            }

            $(".quantity, .price").on("input", updateTotal);
            
            $("#SupplierId").change(function (){
                let supplierId = $(this).val();
                fetchPickUpPoints(supplierId);
            });

            if ($("#SupplierId").val()) {
                let supplierId = $("#SupplierId").val();
                console.log("test");
                fetchPickUpPoints(supplierId);
            }
            
            function fetchPickUpPoints(supplierId){
                if (supplierId) {
                    $.ajax({
                        url: '@Url.Action("GetPickUpPoints", "PurchaseOrder", new { area = "Filpride" })',
                        type: "GET",
                        data: { supplierId: supplierId },
                        success: function (data) {
                            var pickupDropdown = $("#PickUpPointId");
                            pickupDropdown.empty();
                            pickupDropdown.append('<option value="">Select Pickup Point</option>');

                            $.each(data, function (index, item) {
                                pickupDropdown.append('<option value="' + item.value + '">' + item.text + '</option>');
                            });
                        },
                        error: function () {
                            alert("Error fetching pickup points.");
                        }
                    });
                }
            }
            
        });
    </script>
}